
h1.name {
    color: green;
    padding: 40px 20px;
}

ul.detailList {
    border: 1px solid salmon;
    padding: 40px;
    
}

li.detail {
    list-style-type: square;
    padding: 10px;
}

div.bg {
    background-color: aqua;
    width: 100px;
    height: 100px;
}